{
  "root": true,
  "env": {
    "node": true,
    "jest/globals": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": [
      "tsconfig.json",
      "tests/tsconfig.json",
      "examples/tsconfig.json",
      "benchmarks/tsconfig.json",
      "scripts/tsconfig.json"
    ],
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": [
          "tsconfig.json",
          "tests/tsconfig.json",
          "examples/tsconfig.json",
          "benchmarks/tsconfig.json",
          "scripts/tsconfig.json"
        ]
      }
    }
  },
  "plugins": ["import", "@typescript-eslint", "eslint-plugin-tsdoc", "prettier", "jest"],
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "eslint:recommended",
    "plugin:@cspell/recommended",
    "plugin:@typescript-eslint/recommended",
    // "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "plugin:jest/recommended"
  ],
  "rules": {
    "prettier/prettier": "error",
    "tsdoc/syntax": "warn",
    "import/no-default-export": "error",
    "import/prefer-default-export": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    // FIXME: Remove
    "@typescript-eslint/ban-types": [
      "error",
      {
        "types": {
          "Function": false,
          "Object": false,
          "{}": false
        },
        "extendDefaults": true
      }
    ],
    // FIXME: Remove
    "@typescript-eslint/no-explicit-any": "off",
    // FIXME: Remove
    "@typescript-eslint/no-var-requires": "off",
    // FIXME: Remove
    "global-require": "off",
    // FIXME: Remove
    "import/no-cycle": "off",
    // FIXME: Remove
    "no-param-reassign": "off",
    // FIXME: Remove
    "@typescript-eslint/no-non-null-assertion": "off",
    // FIXME: Remove
    "consistent-return": "off",
    // FIXME: Remove
    "no-await-in-loop": "off",
    // FIXME: Remove
    "@typescript-eslint/no-loop-func": "off",
    // FIXME: Remove
    "prefer-spread": "off",
    // FIXME: Remove
    "no-restricted-syntax": "off",
    // FIXME: Remove
    "no-prototype-builtins": "off",
    // FIXME: Remove
    "@typescript-eslint/no-use-before-define": "off",
    // FIXME: Remove
    "vars-on-top": "off",
    // FIXME: Remove
    "no-return-assign": "off",
    // FIXME: Remove
    "array-callback-return": "off"
  }
}
