# Node.js modules
**/node_modules/

# Builded sources
**/build/
**/dist/

# Coverage
**/coverage/

# IntelliJ stuffs
.idea/

# Parcel cache
.cache
.parcel-cache

# Sponsorkit cache
./images/.cache.json

# Environments
.env

# Archives
*.tar.gz
*.tgz
