/* your custom css */

@import "./prism-theme.css";

* {
  box-sizing: border-box;
}

html {
  --color-main-dark: white;
  --color-main-light: #18191a;
  --color-link: #2f7bc5;
  --color-secondary-background: #f9f9f9;
  --color-secondary-text: #717171;
  --color-code-block: rgba(27, 31, 35, 0.05);
  --color-blockquote-text: #6a737d;
  --color-other-background: #f2f2f2;
}

html.theme-mode--light {
  --color-main-dark: white;
  --color-main-light: #18191a;
  --color-link: #2f7bc5;
  --color-secondary-background: #f9f9f9;
  --color-secondary-text: #717171;
  --color-code-block: rgba(27, 31, 35, 0.05);
  --color-blockquote-text: #6a737d;
  --color-other-background: #f2f2f2;
}

html.theme-mode--dark {
  --color-main-dark: #18191a;
  --color-main-light: #f1f1f1;
  --color-link: #6daff0;
  --color-secondary-background: #111111;
  --color-secondary-text: #a3a3a3;
  --color-code-block: rgba(255, 255, 255, 0.07);
  --color-blockquote-text: #f1f1f1;
  --color-other-background: #151515;
}

body {
  background: var(--color-main-dark);
  color: var(--color-main-light);
}

.navPusher {
  padding-top: 180px !important;
}

@media screen and (min-width: 1024px) {
  .navPusher {
    padding-top: 130px !important;
  }
}

@media only screen and (min-width: 1024px) {
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .onPageNav {
      top: 170px !important;
    }
  }
}

.graphql-banner {
  position: fixed;
  top: 0;
  height: 80px;
  display: block;
  z-index: 999999;
  width: 100%;
  background-color: #4c204a;
  background-image: url("../img/GraphQLConf-2023-Banner.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.fixedHeaderContainer {
  top: 80px;
}

blockquote {
  color: var(--color-blockquote-text);
}

#theme-mode-btn {
  position: fixed;
  top: 50px;
  left: 0;
  cursor: pointer;
  padding: 2px 5px;
  z-index: 11001;
}

@media (max-width: 1023px) {
  #theme-mode-btn {
    top: 100px;
    left: unset;
    right: 36px;
  }
}

.theme-mode-btn--dark {
  color: black;
  background-color: lightgrey;
}

.theme-mode-btn--light {
  color: white;
  background-color: grey;
}

.productShowcaseSection h2 {
  color: var(--color-main-light);
}

.toc {
  color: var(--color-main-light);
}

.toc .toggleNav .navGroup .navGroupCategoryTitle {
  color: var(--color-main-light);
}

.toc .toggleNav ul li a {
  color: var(--color-secondary-text);
}

.toc .toggleNav ul li.navListItemActive a {
  color: var(--color-main-light);
}

.onPageNav .toc-headings > li > a.active,
.onPageNav .toc-headings > li > a.hover {
  color: var(--color-main-light);
}

.toc .toggleNav ul li a:hover,
.toc .toggleNav ul li a:focus {
  color: var(--color-main-light);
}
table tr:nth-child(2n) {
  background-color: var(--color-secondary-background);
}
.onPageNav a {
  color: var(--color-secondary-text);
}

a,
a:hover {
  color: var(--color-link);
  text-decoration: none;
}

.mainContainer {
  padding-bottom: 0;
}

.lightBackground {
  background: var(--color-secondary-background);
}

.container.highlight {
  background-color: var(--color-secondary-background);
}

.snippet-container > .wrapper {
  display: flex;
  align-items: center;
}

.snippet-container > .wrapper > .gridBlock {
  margin: -50px 25px 25px 25px;
}

.snippet {
  flex-grow: 1;
  max-width: 450px;
}

.snippet code {
  padding: 15px 30px 15px 15px;
}

#sponsors {
  background-color: var(--color-secondary-background);
  margin-top: -36px;
  padding-bottom: 60px;
}

#sponsors h3.title {
  margin-bottom: 1.5em;
}

#sponsors blockquote.note {
  background-color: var(--color-secondary-background);
  border-left: 8px solid #f1f1f1;
  padding: 15px 30px 15px 15px;
}

#sponsors .wrapper {
  display: block;
  padding-left: 45px;
  padding-right: 45px;
}

#sponsors .tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#sponsors .tiles > a {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 20px 20px;
  align-items: center;
  justify-content: stretch;
}
#sponsors .tiles > a > :first-child {
  flex-grow: 1;
  margin-bottom: 10px;
}
#sponsors .tiles > a > img {
  object-fit: contain;
}

.want-more-section {
  padding: 30px 0;
}

.want-more-section,
.container.features-section {
  background-color: var(--color-other-background);
}

.want-more-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0 20px;
}

.collective-button {
  width: 298px;
  flex-shrink: 0;
}

.button {
  margin: 4px;
  color: #c04392;
  border-color: #c04392;
}

.button:hover {
  background-color: #c04392;
}

.projectTitle {
  font-weight: 600;
  color: var(--color-link);
}

.projectTitle > small {
  font-weight: 300;
}

.project-logo img {
  max-width: 230px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.nav-footer {
  background-color: #222;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  .snippet-container > .wrapper {
    flex-direction: column;
  }
  .snippet-container > .wrapper > .gridBlock {
    padding: 20px 0;
    margin: 0;
  }
  .snippet {
    max-width: 100%;
    order: 2;
    width: 100%;
  }
  .project-logo img {
    max-width: 150px;
  }
  .nav.toc {
    width: 100%;
  }
  #sponsors .wrapper {
    padding: 40px 20px 0;
  }
}

@media only screen and (min-width: 1024px) {
  .snippet-container > .wrapper {
    flex-direction: row;
  }
  .snippet {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .projectTitle {
    margin-top: 1em;
  }
  .project-logo img {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

/* Dark mode button */

.toggle {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
  max-width: 140px;
}
.toggle span {
  margin: 0 0.25rem;
}
.toggle input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
  margin: 0;
}
.toggle input[type="checkbox"]:checked + label {
  background: #c04392;
}
.toggle input[type="checkbox"]:checked + label:after {
  left: calc(100% - 2px);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.toggle label {
  cursor: pointer;
  width: 50px;
  height: 20px;
  background: #7f2f61;
  display: block;
  border-radius: 40px;
  position: relative;
}
.toggle label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.center-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
