/* your custom css */

@import "./prism-theme.css";
* {
  box-sizing: border-box;
}

a,
a:hover {
  color: #2f7bc5;
  text-decoration: none;
}

.mainContainer {
  padding-bottom: 0;
}

.lightBackground {
  background: #e9e9e9;
}

.container.highlight {
  background-color: #f9f9f9;
}

.snippet-container > .wrapper {
  display: flex;
  align-items: center;
}

.snippet-container > .wrapper > .gridBlock {
  margin: -50px 25px 25px 25px;
}

.snippet {
  flex-grow: 1;
  max-width: 450px;
}

.snippet code {
  padding: 15px 30px 15px 15px;
}

#sponsors {
  background-color: #f9f9f9;
  margin-top: -36px;
  padding-bottom: 60px;
}

#sponsors h3.title {
  margin-bottom: 1.5em;
}

#sponsors blockquote.note {
  background-color: #f6f6f6;
  border-left: 8px solid #f1f1f1;
  padding: 15px 30px 15px 15px;
}

#sponsors .wrapper {
  display: block;
  padding-left: 45px;
  padding-right: 45px;
}

#sponsors .tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#sponsors .tiles > a {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 20px 20px;
  align-items: center;
  justify-content: stretch;
}
#sponsors .tiles > a > :first-child {
  flex-grow: 1;
  margin-bottom: 10px;
}
#sponsors .tiles > a > img {
  object-fit: contain;
}

.want-more-section {
  padding: 30px 0;
}

.want-more-section,
.container.features-section {
  background-color: #f2f2f2;
}

.want-more-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0 20px;
}

.collective-button {
  width: 298px;
  flex-shrink: 0;
}

.button {
  margin: 4px;
  color: #c04392;
  border-color: #c04392;
}

.button:hover {
  background-color: #c04392;
}

.projectTitle {
  font-weight: 600;
  color: #2f7bc5;
}

.projectTitle > small {
  font-weight: 300;
}

.project-logo img {
  max-width: 230px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.nav-footer {
  background-color: #222;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  .snippet-container > .wrapper {
    flex-direction: column;
  }
  .snippet-container > .wrapper > .gridBlock {
    padding: 20px 0;
    margin: 0;
  }
  .snippet {
    max-width: 100%;
    order: 2;
    width: 100%;
  }
  .project-logo img {
    max-width: 150px;
  }
  .nav.toc {
    width: 100%;
  }
  #sponsors .wrapper {
    padding: 40px 20px 0;
  }
}

@media only screen and (min-width: 1024px) {
  .snippet-container > .wrapper {
    flex-direction: row;
  }
  .snippet {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .projectTitle {
    margin-top: 1em;
  }
  .project-logo img {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
