name: TypeGraphQL

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  check:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.13, 10.x, 11.x, 12.x, 13.x, 14.x, 15.x]

    steps:
      - uses: actions/checkout@v1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install deps
        run: |
          npm ci

      - name: Check codebase
        run: |
          npm run verify

      - name: Run tests
        run: npm run test:ci
        env:
          CI: true

      - name: Upload code coverage results
        uses: codecov/codecov-action@v1
        if: matrix.node-version == '15.x'

  deploy-website:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: "12"

      - name: Build Docusaurus website
        run: |
          cd website
          npm ci
          npm run build

      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./website/build/type-graphql
          user_name: "gh-actions"
          user_email: "actions@github.com"
          commit_message: |
            Deploy website
            Deploy website version based on
